body {
    color: #40514E;
    background-color: #edf2f8;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-size: 406.25%;
    margin: 20px auto 0 auto;
    font-family: 'Send Flowers', cursive;
    /* font-family: 'Sacramento', cursive; */
    color: #192684;
}
h2{
    font-family: 'Kanit', sans-serif;
    color:#3478f5;
    font-size: 200%;
    font-weight: normal;
}
h3{
    color:#3478f5;
    font-family: 'Kanit', sans-serif;
    font-weight: normal;
}
a{
    color:#3478f5;
    text-decoration: none;
    padding: 5px;
    margin: 5px;
}
a:hover{
    color: #EAF6F6;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #192684;
    border-width: 5px;
    width: 3%;
}
.profile{
    width:50%;
    margin: 50px auto;
}
.proimg{
    width:50%;
    margin: 50px auto;
}
.top_container {
    /* background-color: #edf2f8; */
    position: relative;
    padding-top: 100px;
}

.middle_container {
    position: relative;
}

.bottom_container {
    position: relative;
    background-color: #192684;
    margin: 100px auto 0 auto;
    padding: 20px;
}

.pro {
    text-decoration: underline;
}

.illustration {
    width:40%;
    height:40%
}
.top-cloud{
    position: absolute;
    right:350px;
    top:50px;
}
.bottom-cloud{
    position: absolute;
    left:300px;
    bottom:450px;
}
/* .designation{
    
} */
.skill-logo-wp{
    width: 25%;
    float: left;
    /* Clear is anti-float! */
    margin-right: 30px;
}
.skill-logo-gd{
    width: 25%;
    float:right;
    margin-left:30px;
}
.skill-row{
    width: 50%;
    margin: 50px auto;
    text-align: left;
    line-height: 2;
}
.skill-heading{
    width:20%;
    margin: 50px auto;
}
.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
}
.btn{
    margin: 50px auto;
    background-color: #192684;
    color: #EAF6F6;
    padding: 20px;
    width:50%;
    border-radius: 10%;
}
.btn:hover{
    background-color:#3478f5;
    color: #EAF6F6;
}
.contact-me-desc{
    width: 50%;
    margin: 50px auto;
    line-height: 2;
}
.pro-desc{
    line-height: 2;
    margin: 20px auto;
}

.attribution{
    font-size: 5%;
    float: right;
}
